.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
  }
  10% {
    transform: translate(0px, 0px) rotate(2deg);
    font-size: 1.3rem;
    color: rgb(6, 77, 0);
  }
  20% {
    transform: translate(0px, 0px) rotate(-4deg);
    font-size: 1.6rem;
    color: rgb(0, 139, 7);
  }
  30% {
    transform: translate(0px, 0px) rotate(6deg);
    font-size: 2rem;
    color: rgb(17, 200, 0);
  }
  40% {
    transform: translate(0px, 0px) rotate(-8deg);
    font-size: 2rem;
    color: rgb(17, 200, 0);
  }
  50% {
    transform: translate(0px, 0px) rotate(6deg);
    font-size: 1.6rem;
    color: rgb(17, 200, 0);
  }
  60% {
    transform: translate(0px, 0px) rotate(-4deg);
    font-size: 1.3rem;
    color: rgb(0, 139, 7);
  }
  70% {
    transform: translate(0px, 0px) rotate(2deg);
    font-size: 1.1rem;
    color: rgb(6, 77, 0);
  }
  80% {
    transform: translate(0px, 0px) rotate(0deg);
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }
}
